* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #00bebe;
}

img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0px 12px 18px -6px rgba(8, 8, 8, 0.5);
  margin-top: 3%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
  padding: 0 2% 2% 2%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.top-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-line .buttons {
  width: 7%;
  display: flex;
  justify-content: space-between;
}

.top-line i {
  color: #00bebe;
  font-size: 1.5rem;
  cursor: pointer;
}

.sc {
  position: fixed;
  bottom: 4%;
  right: 5%;
  padding-top: 1.4rem;
  padding-left: 1rem;
  font-size: 1.5rem;
  color: white;
  background-color: black;
  border-radius: 100%;
  height: 4rem;
  width: 4rem;
  cursor: pointer;
}

.fa-shopping-basket::after {
  content: attr(data-nr-items);
  font-size: 0.8rem;
  background: #00bebe;
  color: white;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  padding: 7px 10px 7px 10px;
  position: relative;
  right: 10px;
  top: -15px;
  opacity: 0.9;
}

.meal-title {
  padding: 1% 0 1% 0;
  font-size: 3rem;
}

.meal-category .meal-area {
  font-display: 1rem;
}

.ingredient-list {
  padding: 1% 1% 1% 0;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 20px;
}

.ingredient-list div {
  padding: 20px 30% 20px 20px;
  display: grid;
  grid-template-columns: 30px 3fr 1fr;
  grid-gap: 10%;
  border-radius: 20px;
  box-shadow: 2px 12px 18px -9px rgba(8, 8, 8, 0.3);
}

.instructions {
  padding-top: 1%;
  padding-bottom: 2%;
}

.disable {
  display: none;
}
.instructions-title {
  margin-top: 2%;
}
.meal-instructions {
  columns: 500px 2;
  padding: 3% 2% 2% 2%;
  border-radius: 20px;
  box-shadow: 2px 12px 18px -3px rgba(8, 8, 8, 0.2);
  white-space: pre-wrap;
  height: auto;
}

/* Modal */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal .modal-content {
  border-radius: 20px;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  min-height: 100px;
  box-shadow: 2px 12px 18px -3px rgba(8, 8, 8, 0.2);
}

.modal .modal-content h2 {
  font-size: 2rem;
  text-align: center;
}

.modal .close {
  float: right;
  color: #aaa;
  font-size: 1.8rem;
  font-weight: bold;
}

.modal .remove-all {
  margin-right: 2%;
  float: right;
  color: #00bebe;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.8rem;
}

.modal .close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content .shopping-list div {
  display: flex;
  font-size: 1.4rem;
  margin-bottom: 1%;
}

.modal-content .shopping-list div .shopping-item {
  margin-left: 2%;
}
